<section class="about" id="AboutUs">
    <div class="container">
        <div class="about-title-wrap">
            <h2 class="about-title">ABOUT</h2>

        </div>
        <div class="about-wrap-text">
            <p class="about-text">We are a minimalistic flower studio. We love people and flowers. Therefore, every day
                we give people
                the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is unique as
                you are.</p>


            <div class="thumb-about"><img class="about-img" srcset="./img/mob-about-x1.jpg 228w,
                ./img/mob-about-2x.jpg 456w,
                ./img/tab_about-x1.jpg 334w,
                ./img/tab_about-2x.jpg 668w,
                ./img/desc_about-x1.jpg 632w,
                ./img/desc-about-2x.jpg 1264w"
                    sizes="(min-width: 1280px) 632px, (min-width: 768px) 334px, (min-width: 320px) 228px, 100vw"
                    src="./img/mob-about-x1.jpg" alt="Опис зображення для всіх версій" /></div>
        </div>
    </div>
</section>