<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="modal-background">
            <button class="modal-btn" data-modal-close><img src="../img/akar-icons_cross.png" alt=""></button>
        </div>
        <div class="modal-content">
            <h2 class="modal-title">Follow to our newsletter</h2>
            <p class="modal-text">Be the first to get exclusive offers and the latest news on our product directly in
                your
                box.</p>
        </div>
        <div class="modal-label">
            <label>
                Email
                <input type="email" name="email" value="Your email" required />
            </label>
            <button class="button-subm" type="submit">Subscribe</button>
        </div>
    </div>
</div>