<section class="blog">
    <div class="container">
        <h2 class="blog-title">BLOG</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../img/flowers-image-desc-2-1px (1).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="../img/flowers-image-desc-3-1px (1).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="../img/flowers-image-desc-4-1px (1).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="../img/flowers-image-desc-5-1px (1).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="../img/flowers-image-desc-6-1px (1).jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="../img/flowers-image-desc-1-1px (1).jpg" />
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <h3 class="blog-text">Follow to our newsletter</h3>
        <button class="blog-btn" data-modal-open>Subscribe</button>
    </div>
</section>