<section class="blog" id="Blog">
    <div class="container">
        <h2 class="blog-title">BLOG</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- <img src="./img/flowers-image-desc-2-1px.jpg" /> -->
                    <img srcset="./img/flowers-image-mob-2-1px.jpg 122w,
                    ./img/flowers-image-mob-2-2px.jpg 244w,
                    ./img/flowers-image-tab-2-1px.jpg 287w,
                    ./img/flowers-image-tab-2-2px.jpg 574w,
                    ./img/flowers-image-desc-2-1px.jpg 315w,
                    ./img/flowers-image-desc-2-2px.jpg 630w"
                    sizes="(min-width: 1280px) 315px, (min-width: 768px) 287px, (min-width: 320px) 122px, 100vw" src="./img/flowers-image-desc-2-1px.jpg"
                    alt="img-2" />
                </div>
                <div class="swiper-slide">
                    <!-- <img src="./img/flowers-image-desc-3-1px.jpg" /> -->
                    <img srcset="./img/flowers-image-mob-3-1px.jpg 153w,
                    ./img/flowers-image-mob-3-2px.jpg 306w,
                    ./img/flowers-image-tab-3-1px.jpg 344w,
                    ./img/flowers-image-tab-3-2px.jpg 688w,
                    ./img/flowers-image-desc-3-1px.jpg 390w,
                    ./img/flowers-image-desc-3-2px.jpg 780w"
                    sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 153px, 100vw" src="./img/flowers-image-desc-3-1px.jpg"
                    alt="img-3" />
                </div>
                <div class="swiper-slide">
                    <!-- <img src="./img/flowers-image-desc-4-1px.jpg" /> -->
                    <img srcset="./img/flowers-image-mob-4-1px.jpg 122w,
                    ./img/flowers-image-mob-4-2px.jpg 244w,
                    ./img/flowers-image-tab-4-1px.jpg 287w,
                    ./img/flowers-image-tab-4-2px.jpg 574w,
                    ./img/flowers-image-desc-4-1px.jpg 315w,
                    ./img/flowers-image-desc-4-2px.jpg 630w"
                    sizes="(min-width: 1280px) 315px, (min-width: 768px) 287px, (min-width: 320px) 122px, 100vw" src="./img/flowers-image-desc-4-1px.jpg"
                    alt="img-4" />
                </div>
                <div class="swiper-slide">
                    <!-- <img src="./img/flowers-image-desc-5-1px.jpg" /> -->
                    <img srcset="./img/flowers-image-mob-5-1px.jpg 122w,
                    ./img/flowers-image-mob-5-2px.jpg 244w,
                    ./img/flowers-image-tab-5-1px.jpg 287w,
                    ./img/flowers-image-tab-5-2px.jpg 574w,
                    ./img/flowers-image-desc-5-1px.jpg 315w,
                    ./img/flowers-image-desc-5-2px.jpg 630w"
                    sizes="(min-width: 1280px) 315px, (min-width: 768px) 287px, (min-width: 320px) 122px, 100vw" src="./img/flowers-image-desc-5-1px.jpg"
                    alt="img-5" />
                </div>
                <div class="swiper-slide">
                    <!-- <img src="./img/flowers-image-desc-6-1px.jpg" /> -->
                    <img srcset="./img/flowers-image-mob-6-1px.jpg 122w,
                    ./img/flowers-image-mob-6-2px.jpg 244w,
                    ./img/flowers-image-tab-6-1px.jpg 287w,
                    ./img/flowers-image-tab-6-2px.jpg 574w,
                    ./img/flowers-image-desc-6-1px.jpg 315w,
                    ./img/flowers-image-desc-6-2px.jpg 630w"
                    sizes="(min-width: 1280px) 315px, (min-width: 768px) 287px, (min-width: 320px) 122px, 100vw" src="./img/flowers-image-desc-6-1px.jpg"
                    alt="img-6" />
                </div>
                <div class="swiper-slide">
                    <!-- <img src="./img/flowers-image-desc-1-1px.jpg" /> -->
                    <img srcset="./img/flowers-image-mob-2-1px.jpg 122w,
                    ./img/flowers-image-mob-1-2px.jpg 244w,
                    ./img/flowers-image-tab-1-1px.jpg 287w,
                    ./img/flowers-image-tab-1-2px.jpg 574w,
                    ./img/flowers-image-desc-1-1px.jpg 315w,
                    ./img/flowers-image-desc-1-2px.jpg 630w"
                    sizes="(min-width: 1280px) 315px, (min-width: 768px) 287px, (min-width: 320px) 122px, 100vw" src="./img/flowers-image-desc-1-1px.jpg"
                    alt="img-1" />
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <h3 class="blog-text">Follow to our newsletter</h3>
        <button class="blog-btn" data-modal-open>Subscribe</button>
    </div>
</section>