<div class="backdrop is-hidden" data-modal>
    <div class="blog-modal">
        <div class="blog-modal-background">
            <button class="blog-modal-btn" data-modal-close><img src="../img/akar-icons_cross.png" alt=""></button>
        </div>

        <div class="blog-modal-content">

            <h2 class="blog-modal-title">Follow to our newsletter</h2>
            <p class="blog-modal-text">Be the first to get exclusive offers and the latest news on our product directly
                in
                your
                box.</p>
            <form action="">
                <div class="blog-modal-label">
                    <label>
                        <p class="blog-modal-label-text">Email</p>
                        <input class="blog-modal-input" type="email" name="email" required />
                    </label>
                    <button class="blog-button-subm" type="submit">Subscribe</button>
                </div>
            </form>
        </div>

    </div>
</div>