<section class="delivery" id="Delivery">
    <div class="container">
        <h3 class="delivery-title">DELIVERY</h3>
        <ul class="delivery-list">
            <li class="delivery-item">
                <p class="delivery-step">1</p>Choose your bouquet and make an order on website
            </li>
            <li class="delivery-item">
                <p class="delivery-step">2</p>Wait for the call to clarify the details of the order. You can pay online
                or to
                the
                courier
            </li>
            <li class="delivery-item">
                <p class="delivery-step">3</p>Wait for the delivery at the selected time or pick up the order from the
                store
            </li>
            <li class="delivery-item">
                <p class="delivery-step">4</p>Make someone happy or enjoy yourself
            </li>
        </ul>
    </div>
</section>