<footer class="footer">
    <div class="container">
        <div class="flex_div">
            <a href="./" class="footer_logo">
                <img src="./img/Logo.svg" alt="Logo">
            </a>
            <div>
                <h3>Navigation</h3>
                <ul class="footer_navigation">
                    <li class="navigation_item">Anemone</li>
                    <li class="navigation_item">About us</li>
                    <li class="navigation_item">Store</li>
                    <li class="navigation_item">Delivery</li>
                </ul>
            </div>
            <div>
                <h3>Opening times</h3>
                <ul class="Opening_times">
                    <li class="Open_item">Every day 9:00 - 22:00</li>
                </ul>
            </div>
            <div>
                <h3>Contacts</h3>
                <ul class="Contacts">
                    <li class="Contacts_item">+38 063 123 45 67</li>
                    <li class="Contacts_item">anemonestudio@example.com</li>
                    <li class="Contacts_item">Reitarska Street, 11 Kyiv, Ukraine</li>
                </ul>
            </div>
            <ul>
                <li><img src="./img/facebook.svg" alt="facebook"></li>
                <li><img src="./img/instagram.svg" alt="instagram"></li>
            </ul>
        </div>
    </div>
</footer>
</body>