<header class="header">
    <div class=" container header-flex">
    <a class="header-logo"><img src="./img/logo1.svg" alt="logo"></a>
        <nav class="header-menu">
            <ul class="header-list">
                <li class="header-item">Anemone</li>
                <li class="header-item">About us</li>
                <li class="header-item"> Store</li>
                <li class="header-item">Deliver</li>
                <li class="header-item">Blog</li>
            </ul>
        </nav>
        <button class="header-button"><img src="./img/tel.svg" alt=""></button>
        <button class="menu-toggle-btn js-open-menu" 
            aria-expanded="false"
            aria-controls="mobile-menu">
                <svg fill="currentColor" width="24" height="24">
                    <use href="./img/symbol-defs.svg#icon-Burger"></use>
                </svg>
            </button>
    </div>
</header>