<header class="header">
    <div class=" container">
    <a class="header-logo"><img src="./img/logo.svg" alt="logo"></a>
        <nav class="header-menu">
            <ul class="header-list">
                <li class="header-item">Anemone</li>
                <li class="header-item">About us</li>
                <li class="header-item"> Store</li>
                <li class="header-item">Deliver</li>
                <li class="header-item">Blog</li>
            </ul>
        </nav>
        <button class="header-button"><img src="./img/tel.svg" alt=""></button>
    </div>
</header>