<section class="hero" id="Anemone">
    <div class="container">
        <div class="hero-wraper">
            <div class="hero-position">
                <div class="hero-flex">
                    <p class="hero-text">flower
                        studio</p>
                    <div class="hero-img-thumb">
                        
                        <img class="hero-img" srcset="./img/mob-amenome-x1.jpg 145w,
                        ./img/mob-amenome-x2.jpg 290w,
                        ./img/desctop-amenome-x1.jpg 390w,
                        ./img/desctop-amenome-2x.jpg 780w"
                    sizes="(min-width: 768px) 390px, (min-width: 320px) 145px, 100vw"
                    src="./img/mob-amenome-x1" alt="Опис зображення для всіх версій" />
                    </div>

                    <div class="hero-btn-wrap">
                        <button id="openHeroModalBtn" class="hero-btn animate__animated animate__heartBeat"><img
                                src="/img/btn.svg" alt=""></button>

                    </div>
                   


                    <H1 class="hero-title">ANEMONE</H1>
                </div>
            </div>


        </div>
</section>