<section class="hero">
    <div class="container">
        <div class="hero-wraper">
            <div class="hero-position">
                <div class="hero-flex">
                    <p class="hero-text">flower
                        studio</p>
                    <img class="hero-img" src="./img/phoneanemone.png" alt="">
                    <div class="hero-btn-wrap">
                        <button class="hero-btn"><img src="/img/btnshop.png" alt=""></button>
                    </div>
                </div>

                <H1 class="hero-title">ANEMONE</H1>
            </div>
        </div>


    </div>
</section>