<section class="store">
    <div class="container">
        <div class="st">
            <h2>STORE</h2>
            <img src="" alt="">
        </div>
        <div class="stf">
            <div class="store-block">
                <img src="" alt="" class="store-block-img">
                <div class="store-block-text">
                    <h3 class="store-block-text-title">compliments</h3>
                    <p class="store-block-text">from $15</p>
                </div>
            </div>
            <div class="store-block">
                <img src="" alt="" class="store-block-img">
                <div class="store-block-text">
                    <h3 class="store-block-text-title">bouquets size S</h3>
                    <p class="store-block-text">from $25</p>
                </div>
            </div>
            <div class="store-block">
                <img src="" alt="" class="store-block-img">
                <div class="store-block-text">
                    <h3 class="store-block-text-title">bouquets size M</h3>
                    <p class="store-block-text">from $45</p>
                </div>

            </div>
            <div class="store-block">
                <img src="" alt="" class="store-block-img">
                <div class="store-block-text">
                    <h3 class="store-block-text-title">bouquets size L</h3>
                    <p class="store-block-text">from $60</p>
                </div>
            </div>
        </div>
        <button class="store-btn">Order flowers</button>
    </div>
</section>