<section>
    <div class="st">
        <h2>STORE</h2>
        <img src="" alt="">
    </div>
    <div class="stf">
        <div>
            <img src="" alt="">
            <div class="cl"></div>
        </div>
        <div>
            <img src="" alt="">
            <div class="cl"></div>
        </div>
        <div>
            <img src="" alt="">
            <div class="cl"></div>

        </div>
        <div>
            <img src="" alt="">
            <div class="cl"></div>
        </div>
    </div>
</section>
