<section class="store">
    <div class="container">
        <h2 class="store-title">STORE</h2>
        <div class="store-list">
            <div class="store-item">
                <div class="img-thumb">
                    <img src="./img/store-compliments.jpg" alt="img1">
                </div>
                <div class="store-item-text">
                    <h3 class="store-item-text-title">compliments</h3>
                    <p class="store-item-text-text">from $15</p>
                </div>
            </div>
            <div class="store-item">
                <div class="img-thumb">
                    <img src="./img/store-size-S.jpg" alt="img2">
                </div>
                <div class="store-item-text">
                    <h3 class="store-item-text-title">bouquets size S</h3>
                    <p class="store-item-text-text">from $25</p>
                </div>
            </div>
            <div class="store-item">
                <div class="img-thumb">
                    <img src="./img/store-size-M.jpg" alt="img3">
                </div>
                <div class="store-item-text">
                    <h3 class="store-item-text-title">bouquets size M</h3>
                    <p class="store-item-text-text">from $45</p>
                </div>

            </div>
            <div class="store-item">
                <div class="img-thumb">
                    <img src="./img/store-size-L.jpg" alt="img4">
                </div>
                <div class="store-item-text">
                    <h3 class="store-item-text-title">bouquets size L</h3>
                    <p class="store-item-text-text">from $60</p>
                </div>
            </div>
        </div>
        <div class="store-btn-content">
            <button class="store-btn">Order flowers</button>
        </div>
    </div>
</section>