.delivery {
    padding-bottom: 161px;
    background-image: url(../img/image_delivery.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 320px 135px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .delivery {
        background-image: url(../img/image-delivery-2xmob.jpg);
    }
}

.delivery-title {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
    margin-bottom: 32px;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 14px;
}

.delivery-list {
    margin-bottom: 26px;
}

.delivery-title:after {
    content: "";
    display: block;
    height: 1px;
    width: 148px;
    background-color: #000;
}

.delivery-item {
    display: flex;
    width: 100%;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    gap: 9px;
    margin-bottom: 14px;
}

.delivery-step {
    width: 40px;
    height: 40px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 100%;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .delivery {
        padding-bottom: 304px;
        background-size: 764px 264px;
        background-image: url(../img/image-delivery-1xtab.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .delivery {
            background-image: url(../img/image-delivery-2xtab.jpg);
        }
    }

    .delivery-title:after {
        width: 573px;
    }

    .delivery-title {
        font-size: 44px;
        line-height: 53.64px;
    }

    .delivery-item {
        gap: 20px;
        font-size: 32px;
        font-weight: 500;
        line-height: 39.01px;
        height: 67px;
        width: 100%;
        margin-bottom: 20px;
    }

    .delivery>img {
        width: 768px;
        height: 264px;
    }

    .delivery-step {
        width: 64px;
        height: 64px;
        font-size: 26px;
        font-weight: 500;
        line-height: 31.69px;
    }

    .delivery-list {
        margin-bottom: 40px;
    }
}

@media (min-width: 1280px) {
    .delivery {
        background-size: 1280px 391px;
        padding-bottom: 451px;
        background-image: url(../img/image-delivery-1xdesc.jpg);

    }
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .delivery {
        background-image: url(../img/image-delivery-2xdesc.jpg);
    }
}
    .delivery-title:after {
        width: 985px;
    }

    .delivery-item {
        gap: 56px;
        width: 1088px;
        margin-bottom: 32px;
    }

    .delivery-step {
        font-size: 26px;
        font-weight: 500;
        line-height: 31.69px;
        width: 64px;
        height: 64px;
    }
}