.flex_div {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    /* justify-content: center; */

    @media (min-width: 768px) {
        gap: 44px;

    }

    @media (min-width: 1280px) {
        gap: 96px;

    }
}

.container {
    padding: 0 15px;
}

.footer {
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    color: white;
    background-color: black;
    font-family: "Inter", sans-serif;
}

.footer_link {
    text-decoration: none;
    color: white;
}

/* <<<<<<----------------------FOOTER------------------------->>>>>>>>>> */

.footer_logo {
    transition: transform 500ms ease-in-out;

    @media (max-width: 1279px) {
        display: none;
    }

    @media (min-width: 1280px) {
        margin-right: 210px;
    }

}

.footer_logo:hover {
    transform: scale(1.1);
}

/* <<<<<<<<<<<----------------NAVIGATION---------------------------->>>>>>> */
.Nav_h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    font-family: "Inter", sans-serif;

    margin-bottom: 18px;

    @media (min-width: 767px) {

        font-weight: 700;
        font-size: 20px;
        line-height: 24.2px;
        font-family: "Inter", sans-serif;
    }
}

.footer_navigation {
    width: 116px;

    @media (min-width: 768px) {
        width: 144px;
    }

    @media (min-width: 1279px) {
        width: 116px;
    }

}


.navigation_item {
    margin-top: 12px;
    margin-bottom: 1;
    transition: transform 500ms ease-in-out;

    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    font-family: "Inter", sans-serif;

    @media (min-width: 768px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        font-family: "Inter", sans-serif;
    }



}

.navigation_item:hover {
    transform: scale(1.1);

}

/* <<<<<<<<<<<----------------OPENTIME---------------------------->>>>>>> */
.opening_times {
    width: 128px;
}

.Open_h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    font-family: "Inter", sans-serif;

    margin-bottom: 18px;

    @media (min-width: 767px) {

        font-weight: 700;
        font-size: 20px;
        line-height: 24.2px;
        font-family: "Inter", sans-serif;
    }
}

.Open_item {
    transition: transform 500ms ease-in-out;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    font-family: "Inter", sans-serif;

    @media (min-width: 768px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36pxpx;
        font-family: "Inter", sans-serif;
    }

}

.Open_item:hover {
    transform: scale(1.1);
}



/* <<<<<<<<<<<----------------CONTACTS---------------------------->>>>>>> */
.Contacts {
    width: 128px;

    word-wrap: break-word;

    @media (min-width: 768px) {
        width: 237px;

    }
}

.Contacts_item {
    margin-bottom: 12px;
    transition: transform 500ms ease-in-out;

    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    font-family: "Inter", sans-serif;

    @media (min-width: 768px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        font-family: "Inter", sans-serif;
    }


}

.Contacts_item:hover {
    transform: scale(1.1);

}

.Contacts_h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    font-family: "Inter", sans-serif;

    margin-bottom: 18px;

    @media (min-width: 767px) {

        font-weight: 700;
        font-size: 20px;
        line-height: 24.2px;
        font-family: "Inter", sans-serif;
    }
}

/* <<<<<<<-------------------------LOGOS--------------------->>>>>>>> */
.logos {
    display: flex;
    gap: 14px;
    

    @media (min-width: 1280px) {
        flex-direction: column;
    }

    @media (min-width: 767px) {
        flex-direction: column;
        margin-left: auto;
    }

}

.logos_item {
    transition: transform 500ms ease-in-out;
}

.logos_item:hover {
    transform: scale(1.1);
}