.hero-flex {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;

}

@media screen and (min-width: 768px) {
    .hero-flex {
        margin-left: 73px;
    }
}

.hero-btn {
    width: 64px;
    height: 76px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .hero-btn {
        width: 145px;
        height: 150px;
    }
}

.hero-btn-tab {
    width: 145px;
    height: 150px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .hero-btn-tab {
        display: none;
    }
}


.hero-btn:hover {
    animation: heartBeat;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

.hero-btn-wrap {
    margin-top: 110px;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .hero-btn-wrap {
        margin-top: 270px;
    }
}


.hero-img-thumb {
    width: 145px;
    height: 274px;
    border-radius: 226px;
    overflow: hidden;
}

.hero-img {
    /* width: 145px;
    height: 274px; */
    height: 100%;
    object-fit: cover;
    object-position: center;

}

@media screen and (min-width: 768px) {
    .hero-img-thumb {
        width: 390px;
        height: 636px;
    }
}





.hero-title {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 52px;
    text-align: center;
    color: #000;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 120px;
        text-align: center;
        color: #000;
        top: 550px;
    }
}

/* .hero-position {
    /* position: relative; */

 

.hero-text {
    margin-top: 125px;

    width: 46px;
    height: 34px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

@media screen and (min-width: 768px) {
    .hero-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        color: #000;
        margin-right: 40px;
        margin-top: 308px;
    }
}




.Heromodal, .Thanksmodal {
    display: none;
    /* Приховати модальне вікно за замовчуванням */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    /* Напівпрозорий фон */
}

.hero-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%; */
    /* max-width: 500px; */
    border-radius: 5px;
    /* text-align: center; */
    width: 272px;
    height: 357px;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .hero-modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        /* width: 80%; */
        /* max-width: 500px; */
        border-radius: 5px;
        /* text-align: center; */
        width: 480px;
        height: 511px;
        background: #fff;
    }
}

.hero-modal-close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.hero-modal-h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

@media screen and (min-width: 768px) {
    .hero-modal-h2 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 32px;
        color: #000;
        margin-top: 48px;
        margin-bottom: 24px;
    }
}

.hero-modal-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    color: #5c5c5c;
}

@media screen and (min-width: 768px) {
    .hero-modal-p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        color: #5c5c5c;
    }
}

.hero-modal-input {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    width: 216px;
    height: 39px;
}

@media screen and (min-width: 768px) {
    .hero-modal-input {
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        width: 436px;
        height: 49px;
        margin-top: 8px;
    }
}

.hero-label-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #5c5c5c;
    margin-top: 18px;
}

.hero-send {
    border-radius: 8px;
    padding: 8px 74px;
    width: 216px;
    height: 37px;
    background: rgba(232, 111, 84, 0.4);
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .hero-send {
        border-radius: 8px;
        width: 436px;
        height: 50px;

    }
}

.hero-modal-button-p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
    
}