.store-title {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.img-thumb {
    width: 136px;
    height: 155px;
}

.img-thumb>img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.store-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.store-item {
    width: 136px;
}

.store-item-text-title {
    margin-top: 12px;
    margin-bottom: 6px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.store-item-text-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #000;
    opacity: 0.6;
}

.store-btn {
    margin-top: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    border-radius: 38px;
    padding: 10px 35px;
    width: 208px;
    height: 44px;
    background: var(--pink);
    transition: background-color 500ms ease-in-out, transform 500ms ease-in-out;
}

.store-btn:hover {
    transform: scale(1.1);
    background-color: #cb5439;
}

.store-btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store {
    margin-bottom: 60px;
}

.store-title::after {
    content: "";
    display: block;
    background-color: #000;
    width: 190px;
    height: 1px;
}

@media screen and (min-width: 768px) {
    .store-title {
        font-size: 44px;
        gap: 16px;
        margin-bottom: 60px;
    }

    .store-title::after {
        width: 550px;
    }

    .img-thumb {
        width: 344px;
        height: 399px;
    }

    .store-list {
        gap: 40px 32px;
    }

    .store-item {
        width: 344px;
    }

    .store-item-text-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 32px;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .store-item-text-text {
        font-size: 24px;
    }

    .store-item-text-title::after {
        content: "";
        display: block;
        background-color: #000;
        height: 1px;
    }

    .store-item:nth-child(1) .store-item-text-title::after {
        width: 119px;
    }

    .store-item:nth-child(2) .store-item-text-title::after {
        width: 80px;
    }

    .store-item:nth-child(3) .store-item-text-title::after {
        width: 71px;
    }

    .store-item:nth-child(4) .store-item-text-title::after {
        width: 82px;
    }

    .store-btn {
        margin-top: 60px;
        font-size: 28px;
        padding: 16px 32px;
        width: 280px;
        height: 64px;
    }

    .store {
        margin-bottom: 100px;
    }
}

@media (min-width: 1200px) {
    .store-title {
        margin-bottom: 80px;
    }

    .store-title::after {
        width: 1062px;
    }

    .img-thumb {
        width: 600px;
        height: 542px;
    }

    .store-item {
        width: 600px;
    }

    .store-list {
        gap: 64px 32px;
    }

    .store-item-text-title {
        gap: 16px;
        font-size: 36px;
        margin-bottom: 4px;
    }

    .store-item-text-text {
        font-size: 28px;
    }

    .store-item-text-title::after {
        content: "";
        display: block;
        background-color: #000;
        height: 1px;
    }

    .store-item:nth-child(1) .store-item-text-title::after {
        width: 340px;
    }

    .store-item:nth-child(2) .store-item-text-title::after {
        width: 298px;
    }

    .store-item:nth-child(3) .store-item-text-title::after {
        width: 286px;
    }

    .store-item:nth-child(4) .store-item-text-title::after {
        width: 299px;
    }
}