:root {
    --pink: #e86f54;
}

.store-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.store-item-img {
    width: 136px;
    height: 155px;
}

.store-list {
    display: flex;
    flex-wrap: wrap;
}

.store-item {
    width: calc((100% - 16px) / 2);
    margin-top: 16px;
}

.store-item-text-title {
    margin-top: 12px;
    margin-bottom: 6px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.store-item-text-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #000;
    opacity: 0.6;
}

.store-btn {
    margin-top: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    border-radius: 38px;
    padding: 10px 35px;
    width: 208px;
    height: 44px;
    background: var(--pink);
}

.store-btn-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.store{
    margin-bottom: 60px;
}